* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    
}

.quiz-container {
    width: 100%;
    max-width: 450px;
    background: white;
    padding: 20px;
    border-radius: 10px;
   
}

h1 {
    text-align: center;
}

#timer {
    text-align: right;
    font-weight: bold;
    color: red;
}

#options {
    list-style: none;
    padding: 0;
}

#options li {
    padding: 10px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
}

#options li:hover {
    background: #dcdcdc;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#options li {
  cursor: pointer;
}

#options li.selected {
  background: #4caf50;
  color: white;
}
